  <!-- Counts Section 
  <section id="counts" class="section counts light-background">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end={{StatisticModel.allProctorCount}} data-purecounter-duration="1" class="purecounter"></span>
            <p>Proctor</p>
          </div>
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end={{StatisticModel.allStudentCount}} data-purecounter-duration="1" class="purecounter"></span>
            <p>Student</p>
          </div>
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end={{StatisticModel.allExamProviderCount}} data-purecounter-duration="1" class="purecounter"></span>
            <p>ExamProvider</p>
          </div>
         
        </div>
      </div>
    </div>
  </section>-->