<!-- <div class="container">
    <header>
        <div class="logo">OnVUE</div>
        <div class="access-code">Access code: 555-555-555</div>
    </header>
    <main>
        <h1>Check-In Process</h1>
        <p>What you need to do to take your exam</p>
        <div class="steps">
            <div class="step">
                <fa-icon [icon]="faCogs"></fa-icon>
                <p>System check</p>
            </div>
            <div class="step">
                <fa-icon [icon]="faUser"></fa-icon>
                <p>Your picture</p>
            </div>
            <div class="step">
                <fa-icon [icon]="faIdCard"></fa-icon>
                <p>Photo identification</p>
            </div>
            <div class="step">
                <fa-icon [icon]="faHome"></fa-icon>
                <p>Workspace verification</p>
            </div>
            <div class="step">
                <fa-icon [icon]="faWindowClose"></fa-icon>
                <p>Close all applications</p>
            </div>
        </div>
        <div class="age-verification">
            <button class="age-button">I am eighteen years of age or older</button>
            <button class="age-button">I am under eighteen years of age</button>
        </div>
        <button class="get-started">Get started</button>
    </main>
</div> -->


<div class="container">
    <div class="card shadow">
      <div class="card-header text-center">
        <h3>Check-In Process</h3>
      </div>
      <div class="card-body" style="text-align: center;">
        <!-- <h1>Check-In Process</h1>
        <p>What you need to do to take your exam</p> -->
        <div class="steps">
            <div class="step">
                <fa-icon [icon]="faCogs"></fa-icon>
                <p>System check</p>
            </div>
            <div class="step">
                <fa-icon [icon]="faIdCard"></fa-icon>
                <p>Photo identification</p>
            </div>
            <div class="step">
                <fa-icon [icon]="faHome"></fa-icon>
                <p>Workspace verification</p>
            </div>
            <div class="step">
                <fa-icon [icon]="faWindowClose"></fa-icon>
                <p>Close all applications</p>
            </div>
        </div>
      
        <button class="get-started" style="text-justify: center;" (click)="checkInProcess()">Get started</button>
      
      </div>
    </div>
  </div>
  