<link href= "../../../../assets/home-assets/vendor/bootstrap/css/bootstrap.min.css"rel="stylesheet">
<link href= "../../../../assets/home-assets/vendor/bootstrap-icons/bootstrap-icons.css"rel="stylesheet">
<link href= "../../../../assets/home-assets/vendor/aos/aos.css"rel="stylesheet">
<link href= "../../../../assets/home-assets/vendor/glightbox/css/glightbox.min.css"rel="stylesheet">
<link href= "../../../../assets/home-assets/vendor/swiper/swiper-bundle.min.css"rel="stylesheet">
<link href= "../../../../assets/home-assets/css/main.css"rel="stylesheet">


<app-home-nav-bar></app-home-nav-bar>
<router-outlet></router-outlet>
<app-home-footer></app-home-footer>






