<input
  type="text"
  style="padding:8px;margin:15px auto;width:30%;"
  placeholder="Search ..."
  (keyup)="updateFilter($event)"
/>
<br>
<button class="btn btn-info mb-5" (click)="create()">Create New</button>
<br>

<ngx-datatable
  #table
  class="material"
  [columns]="columns"
  [columnMode]="ColumnMode.force"
  [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto"
  [limit]="10"
  [rows]="rows"
>
  <ngx-datatable-column name="Title">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div>
        <strong>{{ row.title }}</strong>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="About Point">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div *ngIf="expanded[row.title]">
        <div *ngFor="let point of row.aboutpoints">
         <li>
          {{ point.listitem }}
         </li>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actions" class="m-5">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="btn-list justify-content-end">
        <a class="btn" style="margin-right: 10px;" (click)="update(row)">Update</a>
        <button class="btn btn-info" (click)="toggleExpand(row)">
          {{ expanded[row.title] ? 'Hide Info' : 'Show Info' }}
        </button>
        <a class="btn btn-danger" (click)="delete(row)">Delete</a>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
