

        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <div class="page-pretitle">
                  Overview
                </div>
                <h2 class="page-title">
                  Exams
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="card" style="padding : 20px; ">
              <div class="d-flex justify-content-end">
                <input type="text" class="form-control" style="width: 30%;" placeholder="Search..."
                       (keyup)="updateExamsFilter($event)"/>
              </div>
              <br>
              <ngx-datatable
                class="bootstrap"

                [rows]="exams"
                [columns]="columnsExamsTable"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="5"
                style="border: 1px solid #ddd; border-radius: 4px;"
                [scrollbarH]="true"
                [sortType]=SortType.multi
              >
                <ngx-datatable-column name="Title" prop="examTitle" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Created At" prop="createdAt" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{ value | date:'yyyy-MM-dd HH:mm:ss' }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Exam Reservations Details" [width]="100" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modal-exam-reservations" (click)="loadExamReservations(row.examId)">Exam
                      Reservations
                    </button>
                  </ng-template>
                </ngx-datatable-column>


                <!--                <ngx-datatable-column name="Actions" [width]="130" [sortable]="false">-->
                <!--                  <ng-template ngx-datatable-cell-template let-row="row">-->
                <!--                    <button class="btn btn-primary btn-sm" style="margin-right: 2px" (click)="updateRow(row)">Update</button>-->
                <!--                    <button class="btn btn-danger btn-sm" (click)="deleteRow(row)">Delete</button>-->
                <!--                  </ng-template>-->
                <!--                </ngx-datatable-column>-->

              </ngx-datatable>
            </div>
          </div>
        </div>


<!-- todo: Exam Reservations Table -->

<div class="modal modal-blur " id="modal-exam-reservations" tabindex="-1" style="display: none;" aria-modal="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Exam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <div class="page-pretitle">
                  Overview
                </div>
                <h2 class="page-title">
                  Exam Reservations
                </h2>
              </div>
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
          <span class="d-none d-sm-inline">
            <a href="#" class="btn">
              New view
            </a>
          </span>
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                     data-bs-target="#modal-create">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M12 5l0 14"/>
                      <path d="M5 12l14 0"/>
                    </svg>
                    create new About-us
                  </a>
                  <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                     data-bs-target="#modal-report"
                     aria-label="Create new report">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M12 5l0 14"/>
                      <path d="M5 12l14 0"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="card" style="padding : 20px; ">
              <div class="d-flex justify-content-end">
                <input type="text" class="form-control" style="width: 30%;" placeholder="Search..."
                       (keyup)="updateExamReservationsFilter($event)"/>
              </div>
              <br>
              <ngx-datatable
                class="bootstrap"
                [rows]="reservations"
                [columns]="columnsExamReservation"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="5"
                style="border: 1px solid #ddd; border-radius: 4px;"
                [scrollbarH]="true"
                [sortType]=SortType.multi
              >
                <ngx-datatable-column name="Student Name" prop="studentName" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="email" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Phone" prop="phone" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Start Date" prop="startDate" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    {{ value | date:'yyyy-MM-dd HH:mm:ss' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="End Date" prop="endDate" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    {{ value | date:'yyyy-MM-dd HH:mm:ss' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Score" prop="score" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Created At" prop="createdAt" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    {{ value | date:'yyyy-MM-dd HH:mm:ss' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Updated At" prop="updatedAt" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    {{ value | date:'yyyy-MM-dd HH:mm:ss' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Complaint Details" [width]="100" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modal-complement" (click)="loadComplement(row.examReservationId)">Complaint
                    </button>
                  </ng-template>
                </ngx-datatable-column>


                <!--                <ngx-datatable-column name="Actions" [width]="130" [sortable]="false">-->
                <!--                  <ng-template ngx-datatable-cell-template let-row="row">-->
                <!--                    <button class="btn btn-primary btn-sm" style="margin-right: 2px" (click)="updateRow(row)">Update</button>-->
                <!--                    <button class="btn btn-danger btn-sm" (click)="deleteRow(row)">Delete</button>-->
                <!--                  </ng-template>-->
                <!--                </ngx-datatable-column>-->

              </ngx-datatable>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- todo: show Complement -->
<div class="modal modal-blur" id="modal-complement" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Complement Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="mb-3">
            <label class="form-label">Proctor Request</label>
            <textarea type="text" class="form-control" [value]="complement?.proctorDesc" readonly></textarea>
            <span class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label class="form-label">Student Response</label>
            <textarea type="text" class="form-control" [value]="complement?.studentDesc" readonly></textarea>
            <span class="text-danger"></span>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link link-secondary"   data-bs-toggle="modal"
           data-bs-target="#modal-exam-reservations">Back</a>
      </div>
    </div>
  </div>
</div>

