
<link href="../../../../assets/dashboard-assets/css/tabler.min.css" rel="stylesheet"/>
<!-- <link href="../../../../assets/dashboard-assets/css/tabler-flags.min.css" rel="stylesheet"/> -->
<!-- <link href="../../../../assets/dashboard-assets/css/tabler-payments.min.css" rel="stylesheet"/> -->
<link href="../../../../assets/dashboard-assets/css/tabler-vendors.min.css" rel="stylesheet"/>
<link href="../../../../assets/dashboard-assets/css/demo.min.css" rel="stylesheet"/>

<router-outlet></router-outlet>

<script src="../../../../assets/dashboard-assets/js/tabler.min.js" defer></script>
<script src="../../../../assets/dashboard-assets/js/demo.min.js" defer></script>