<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a routerLink="/home/homepage" class="logo d-flex align-items-center me-auto">
            <h1 class="sitename">Mentor</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a routerLink="/home/homepage" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/home/about" routerLinkActive="active">About</a></li>
                <li><a routerLink="/home/pricing" routerLinkActive="active">Pricing</a></li>
                <li class="dropdown">
                    <a href="#"><span>Accounts</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a routerLink="/auth/sign-in" routerLinkActive="active">Sign In</a></li>
                        <li><a routerLink="/auth/sign-up" routerLinkActive="active">Sign Up</a></li>
                    </ul>
                </li>
                <li><a routerLink="/home/contact" routerLinkActive="active">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" routerLink="/home/pricing">Get Started</a>
    </div>
</header>