.datatable-header-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
  text-align: center !important;
}
.datatable-body-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
  text-align: center !important;
}
.column-border {
  border-right: 10px solid #cd0b0b !important; /* Right border for columns */
}

ngx-datatable-column:last-child .column-border {
  border-right: none; /* Remove the right border from the last column */
}

.header-class {
  background-color: #f8f9fa !important; /* Example background color */
  color: #333 !important; /* Example text color */
  font-weight: bold !important;
}

.cell-class {
  border-right: 1px solid #5c1818; /* Line between columns */
  padding: 8px; /* Padding inside cells */
}
.image-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.image-item {
  flex: 1 0 0;
  margin: 5px;
}

.image-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
