
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <div class="page-pretitle">
                  Overview
                </div>
                <h2 class="page-title">
                  Exam Reservations
                </h2>
              </div>
              <div class="col-auto ms-auto d-print-none">
               
              </div>
            </div>
          </div>
        </div>


        <div class="page-body">
          <div class="container-xl">
            <div class="card" style="padding : 20px; ">
              <div class="d-flex justify-content-end">
                <input type="text" class="form-control" style="width: 30%;" placeholder="Search..."
                (keyup)="updateProctorReservationsFilter($event)"
                />
<!--                       (keyup)="updateFilterExamReservations($event)"-->

              </div>
              <br>
              <ngx-datatable
                class="bootstrap"
                [rows]="reservations"
                [columns]="columnsExamReservation"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="5"
                style="border: 1px solid #ddd; border-radius: 4px;"
                [scrollbarH]="true"
                [sortType]=SortType.multi
              >
                <ngx-datatable-column name="Student Name" prop="studentName" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Link Exam" prop="proctorTokenEmail" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Start Date" prop="startDate" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    {{ value | date:'yyyy-MM-dd HH:mm:ss' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="End Date" prop="endDate" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    {{ value | date:'yyyy-MM-dd HH:mm:ss' }}
                  </ng-template>
                </ngx-datatable-column>
                 <ngx-datatable-column name="Created At" prop="createdAt" [sortable]="true">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    {{ value | date:'yyyy-MM-dd HH:mm:ss' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Complaint Details" [width]="100" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modal-complement" (click)="loadComplement(row.examReservationId)">Complaint
                    </button>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Identification Details" [width]="100" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modal-iden"  (click)="loadIden(row.examReservationId)">Identification Details</button>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Room Details" [width]="100" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modal-room"  (click)="loadRoomImages(row.examReservationId)">Room Details</button>
                  </ng-template>
                </ngx-datatable-column>
                <!--                <ngx-datatable-column name="Actions" [width]="130" [sortable]="false">-->
                <!--                  <ng-template ngx-datatable-cell-template let-row="row">-->
                <!--                    <button class="btn btn-primary btn-sm" style="margin-right: 2px" (click)="updateRow(row)">Update</button>-->
                <!--                    <button class="btn btn-danger btn-sm" (click)="deleteRow(row)">Delete</button>-->
                <!--                  </ng-template>-->
                <!--                </ngx-datatable-column>-->

              </ngx-datatable>
            </div>
          </div>
        </div>


        <!-- todo: show Complement -->
        <div class="modal modal-blur" id="modal-complement" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Complement Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>

                  <div class="mb-3">
                    <label class="form-label">Proctor Request</label>
                    <textarea type="text" class="form-control" [value]="complement?.proctorDesc" readonly></textarea>
                    <span class="text-danger"></span>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Student Response</label>
                    <textarea type="text" class="form-control" [value]="complement?.studentDesc" readonly></textarea>
                    <span class="text-danger"></span>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <a class="btn btn-link link-secondary"   data-bs-toggle="modal"
                   data-bs-target="#modal-exam-reservations">Back</a>
              </div>
            </div>
          </div>
        </div>
      <!-- todo: show Complement -->
      <div class="modal modal-blur" id="modal-iden" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Identification Detail</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="image-container d-flex flex-wrap">
                <div class="image-item m-2">
                  <label class="form-label">Image Front</label>
                  <img [src]="this.baseUrl+iden?.pathImageFront" class="img-fluid" alt="Front Image"/>
                </div>
                <div class="image-item m-2">
                  <label class="form-label">Image Back</label>
                  <img [src]="this.baseUrl+ iden?.pathImageBack" class="img-fluid" alt="Back Image"/>
                </div>
              </div>
              </form>
            </div>
            <div class="modal-footer">
              <a class="btn btn-link link-secondary" data-bs-toggle="modal" data-bs-target="#modal-exam-reservations">Back</a>
            </div>
          </div>
        </div>
      </div>


      <div class="modal modal-blur" id="modal-room" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Room Images</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="image-container d-flex flex-wrap">
                  <div *ngFor="let image of roomImages; let i = index" class="image-item m-2">
                    <label class="form-label">{{image.place}}</label>
                    <img [src]="this.baseUrl + image.path" class="img-fluid" alt="Room Image {{ i + 1 }}"/>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <a class="btn btn-link link-secondary" data-bs-toggle="modal" data-bs-target="#modal-exam-reservations">Back</a>
            </div>
          </div>
        </div>
      </div>
