<!-- <div *ngIf="showOverlay" class="overlay" (click)="startExam()">
  <div class="overlay-content">
    Start the exam
  </div>
</div> -->
<audio id="remoteAudio" style="display: none;" autoplay></audio>
<div disable-right-click class="page">
  <!-- Sidebar -->
  <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid h-100 overflow-hidden">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebar-menu"
        aria-controls="sidebar-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand navbar-brand-autodark">
        <a asp-action="Index" asp-controller="Home">
          <h3>Exam Guardian</h3>
        </a>
      </h1>
      <div class="navbar-nav flex-row d-lg-none">
        <div class="nav-item d-none d-lg-flex me-3">
          <div class="btn-list">
            <a
              href="https://github.com/tabler/tabler"
              class="btn"
              target="_blank"
              rel="noreferrer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                />
              </svg>
              Source code
            </a>
            <a
              href="https://github.com/sponsors/codecalm"
              class="btn"
              target="_blank"
              rel="noreferrer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon text-pink"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
                />
              </svg>
              Sponsor
            </a>
          </div>
        </div>
        <div class="d-none d-lg-flex">
          <a
            class="nav-link px-0 hide-theme-dark"
            title="Enable dark mode"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
              />
            </svg>
          </a>
          <a
            href="?theme=light"
            class="nav-link px-0 hide-theme-light"
            title="Enable light mode"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
              <path
                d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
              />
            </svg>
          </a>
        </div>
        <div class="nav-item dropdown">
          <a
            href="#"
            class="nav-link d-flex lh-1 text-reset p-0"
            data-bs-toggle="dropdown"
            aria-label="Open user menu"
          >
            <span class="avatar avatar-sm"></span>
            <div class="d-none d-xl-block ps-2">
              <div><!--@Context.Session.GetString("userName")--></div>
              <div class="mt-1 small text-muted">
                <!--@Context.Session.GetString("roleName")-->
              </div>
            </div>
          </a>
          <div
            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
          ></div>
        </div>
      </div>
      <div
        class="collapse navbar-collapse h-100 overflow-hidden"
        id="sidebar-menu"
      >
        <ul class="navbar-nav pt-lg-3 h-100 overflow-hidden">
          <li
            *ngFor="let question of questions; index as i"
            (click)="onSelectQuestion(question.questionId ?? 0)"
            [ngClass]="{ active: selectedQuestionId === question.questionId }"
            class="nav-item cursor-pointer"
          >
            <a class="nav-link">
              <span
                class="nav-link-icon d-md-none d-lg-inline-block"
                [ngClass]="{
                  'unanswered fw-bold': isQuestionUnanswered(question)
                }"
              >
              </span>
              <span
                class="nav-link-title text-white"
                [ngClass]="{ 'fw-bold': isQuestionUnanswered(question) }"
              >
                Question {{ i + 1 }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <!-- End Sidebar -->

  <!-- Header -->
  <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
    <div class="container-xl d-flex justify-content-between align-items-center">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-menu"
        aria-controls="navbar-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="text-center mx-auto">
        <a class="navbar-brand fs-3 fw-bold">{{ exam?.examName }}</a>
        <div class="navbar-collapse collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <span class="nav-link fs-5">{{ exam?.examDescription }}</span>
            </li>
            <li class="nav-item">
              <span
                class="nav-link fs-5"
                [class.text-danger]="isLastTwentySeconds"
                [class.fw-bold]="isLastTwentySeconds"
                >Time Remaining: {{ formattedTime }}</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <div class="page-wrapper">
    <div class="page-body">
      <div class="container h-100 overflow-hidden">
        <div class="row h-100">
          <div
            [ngClass]="{
              'col-12 col-md-8': isChatVisible,
              'col-12': !isChatVisible
            }"
          >
          <div
          [ngClass]="{ 'd-none': isVideoToggled === false }"
          class="d-flex justify-content-center"
        >
          <video style="height: 100px; width: 100px" #localVideo_3 autoplay></video>
        </div>


            <div class="container m-5 p-5" *ngIf="isStartExam == false">
              <div class="card">
                <div
                  class="card-header d-flex justify-content-between align-items-center"
                ></div>
                <div class="card-body d-flex justify-content-center">
                  <div
                    class="video-container d-flex align-items-center justify-content-center m-2"
                  >
                    <video #localVideo autoplay></video>
                  </div>
                  <div
                    class="video-container d-flex align-items-center justify-content-center m-2"
                  >
                    <video #localVideo_2 autoplay></video>
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                  <button class="btn btn-primary me-2" [disabled]="isDisabled" (click)="startExam()">
                    Start
                  </button>
                </div>
              </div>
            </div>
            <div>
              <app-examination-body
                *ngIf="question"
                [question]="question"
                [selectedQuestionId]="selectedQuestionId ?? 0"
                [isLastQuestion]="isLastQuestion!"
                (prevQuestion)="prevQuestion()"
                (nextQuestion)="nextQuestion()"
                (submitExam)="submitExam()"
              ></app-examination-body>
            </div>
          </div>
          <span *ngIf="hasUnansweredQuestions" class="text-danger">
            Please complete all questions before submitting the exam.
          </span>
          <!--todo: Chat Section -->
          <div class="col-12 col-md-4" *ngIf="isChatVisible">
            <div class="card">
              <div class="chat-section">
                <div class="card-body scrollable" style="height: 25rem">
                  <div class="chat">
                    <div class="chat-bubbles" *ngFor="let message of messages">
                      <!-- todo: local msg -->

                      <div class="chat-item mb-1" *ngIf="message[1] == 'student'">
                        <div class="row align-items-end justify-content-end">
                          <div class="col col-lg-6">
                            <div class="chat-bubble chat-bubble-me">
                              <div class="chat-bubble-body">
                                <p>{{ message[0] }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- todo: remote msg -->
                      <div class="chat-item mb-1" *ngIf="message[1] == 'proctor'">
                        <div class="row align-items-end">
                          <div class="col col-lg-6">
                            <div class="chat-bubble">
                              <div class="chat-bubble-body">
                                <p>{{ message[0] }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="input-group input-group-flat">
                    <input
                      type="text"
                      class="form-control"
                      autocomplete="off"
                      placeholder="Type message"
                      [(ngModel)]="chatMessage"
                      (keyup.enter)="sendMessage()"
                    />
                    <button class="btn btn-primary" (click)="sendMessage()">
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- todo: -->
        </div>


      </div>
    </div>
    <!-- Footer -->
    <footer
      class="footer bg-light fixed-bottom d-flex align-items-center justify-content-center shadow-sm"
    >
      <div class="container">
        <ul class="list-inline mb-0 d-flex justify-content-center flex-wrap">
          <li
            class="list-inline-item footer-icon"
            [ngClass]="{ active: activeIcons.microphone }"
            (click)="toggleMicrophone()"
          >
            <i class="fas fa-microphone"></i>
          </li>
          <li
            class="list-inline-item footer-icon"
            [ngClass]="{ active: activeIcons.chat }"
            (click)="toggleChat()"
          >
            <i class="fas fa-comments"></i>
          </li>
          <li
            class="list-inline-item footer-icon"
            [ngClass]="{ active: activeIcons.camera }"
            (click)="toggleVideo()"
          >
            <i class="fas fa-camera"></i>
          </li>
        </ul>
      </div>
    </footer>

      
  </div>

</div>



